* {
    background-color: black;
    color: white;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#searchBar {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#searchBar input,button {
    border: 1px solid white;
    padding: 10px;
}

#searchBar input {
    width: 38%;
}

#searchBar button {
    width: 12%;
}

#table {
    display: flex;
    justify-content: center;
}

td {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px !important;
    padding: 20px 0px !important;
    width: 150px !important;
    vertical-align: middle !important;
}

tr :nth-child(6) {
    width: 200px !important;
    text-align: end !important;
}
tr :nth-child(2) {
    text-transform: uppercase !important;
}

img {
    height: 20px;
    width: 20px !important;
}

.green {
    color: rgb(84, 215, 84) !important;
}

.red {
    color: red !important;
}
