* {
    background-color: black;
    color: white;
}

#searchBar {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#table {
    display: flex;
    justify-content: center;
}

td {
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    padding: 20px 0px;
}

img {
    height: 20px;
}
